.home-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   height: 90vh;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight{
    display: inline-block;
    color: #3a86ff;
    padding: 0 .4rem;
}

.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.points{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}

.intro{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.homepic{
    width: 450;
    height: 450;
}

@media (max-width:768px) {

    .homepic{
        width:  350px;
        height:  350px;
    }
}

@media (max-width:640px) {
    .homepic {
        width: 260px;
        height: 260px;
    }
}